.item-container {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr 30px 20px;
    grid-auto-rows: 40px;

    p {
        margin: 0;
    }

    span {
        display: inline-block;
        cursor: pointer;
        margin-right: 5px;
    }
}
